---

---

<section class="content">
  <div class="omos1">
    <img src="../../public/images/omos1.webp" alt="omos1" />
    <p>
      Headspace Events er en organiation, der skaber meningsfulde arrangementer for unge med fokus på mental trivsel, fællesskab og personlig udvikling. Gennem events, workshops og sociale aktiviteter giver Headspace Events unge mulighed for at mødes
      i trygge rammer, hvor der er plads til både samtaler, nye relationer og fælles oplevelser.
    </p>
  </div>
  <div>
    <p>
      Formålet med aktiviteterne er at styrke unges mentale sundhed ved at skabe fællesskaber, hvor ingen behøver at stå alene med deres udfordringer. Eventsene giver deltagerne mulighed for at dele erfaringer, få nye perspektiver og opleve, at det
      er helt normalt at tale om både glæder og bekymringer. Headspace Events arbejder ud fra en tro på, at stærke fællesskaber kan være med til at forebygge ensomhed og mistrivsel blandt unge.
    </p>
  </div>
</section>

<style>
  .content {
    background-color: #7db742;
  }
  .content p {
    font-family: "Agrandir", sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    line-height: 1.7;
    color: #ffffff;
    margin-bottom: 18px;
  }
  .content .omnos1 {
  }
</style>
